.zip {
    color: rgb(100, 109, 237);
    font-size: x-large;
    
}

h5 {
    font-size: large;
}

.card-body {
background-color:blanchedalmond;
text-align: center;
}

.btn-success {
    background-color: rgb(53, 53, 228);
}

.row {
    text-align:left;
}